

.siparisHeader {
    
    background: #CE2829;
    
    display: flex;
    flex-direction: column;
}
.siparisHeaderLogo {
    scale: 0.4;
  padding: 0.1rem;
}


nav a {
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}